/* in progress indicator */
:where(.aui-md-in-progress:empty)::after,
:where(.aui-md-in-progress > :not(ol):not(ul):not(pre):last-child)::after,
:where(.aui-md-in-progress > pre:last-child code)::after,
:where(
    .aui-md-in-progress
      > :is(ol, ul):last-child
      > li:last-child:not(:has(* > li))
  )::after,
:where(
    .aui-md-in-progress
      > :is(ol, ul):last-child
      > li:last-child
      > :is(ol, ul):last-child
      > li:last-child:not(:has(* > li))
  )::after,
:where(
    .aui-md-in-progress
      > :is(ol, ul):last-child
      > li:last-child
      > :is(ol, ul):last-child
      > li:last-child
      > :is(ol, ul):last-child
      > li:last-child
  )::after {
  @apply animate-pulse font-sans content-['\25CF'] ltr:ml-1 rtl:mr-1;
}

/* typography */

:where(.aui-md-root) h1 {
  @apply mb-8 scroll-m-20 text-4xl font-extrabold tracking-tight last:mb-0;
}

:where(.aui-md-root) h2 {
  @apply mb-4 mt-8 scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0 last:mb-0;
}

:where(.aui-md-root) h3 {
  @apply mb-4 mt-6 scroll-m-20 text-2xl font-semibold tracking-tight first:mt-0 last:mb-0;
}

:where(.aui-md-root) h4 {
  @apply mb-4 mt-6 scroll-m-20 text-xl font-semibold tracking-tight first:mt-0 last:mb-0;
}

:where(.aui-md-root) h5 {
  @apply my-4 text-lg font-semibold first:mt-0 last:mb-0;
}

:where(.aui-md-root) h6 {
  @apply my-4 font-semibold first:mt-0 last:mb-0;
}

:where(.aui-md-root) p {
  @apply mb-5 mt-5 leading-7 first:mt-0 last:mb-0;
}

:where(.aui-md-root) a {
  @apply text-aui-primary font-medium underline underline-offset-4;
}

:where(.aui-md-root) blockquote {
  @apply border-l-2 pl-6 italic;
}

:where(.aui-md-root) ul {
  @apply my-5 ml-6 list-disc [&>li]:mt-2;
}

:where(.aui-md-root) ol {
  @apply my-5 ml-6 list-decimal [&>li]:mt-2;
}

:where(.aui-md-root) hr {
  @apply my-5 border-b;
}

:where(.aui-md-root) table {
  @apply my-5 w-full border-separate border-spacing-0 overflow-y-auto;
}

:where(.aui-md-root) th {
  @apply bg-aui-muted px-4 py-2 text-left font-bold first:rounded-tl-lg last:rounded-tr-lg [&[align=center]]:text-center [&[align=right]]:text-right;
}

:where(.aui-md-root) td {
  @apply border-b border-l px-4 py-2 text-left last:border-r [&[align=center]]:text-center [&[align=right]]:text-right;
}

:where(.aui-md-root) tr {
  @apply m-0 border-b p-0 first:border-t [&:last-child>td:first-child]:rounded-bl-lg [&:last-child>td:last-child]:rounded-br-lg;
}

:where(.aui-md-root) sup {
  @apply [&>a]:text-xs [&>a]:no-underline;
}

:where(.aui-md-root) pre {
  @apply overflow-x-auto rounded-b-lg bg-black p-4 text-white;
}

:where(.aui-md-root) > code,
:where(.aui-md-root) :not(:where(pre)) code {
  @apply bg-aui-muted rounded border font-semibold;
}

.aui-code-header-root {
  @apply flex items-center justify-between gap-4 rounded-t-lg bg-zinc-900 px-4 py-2 text-sm font-semibold text-white;
}

.aui-code-header-language {
  @apply lowercase [&>span]:text-xs;
}
